@{
    Layout = "_Layout";
}

@using Bakery.Models;

<h3>Here are all the orders for @Model["vendor"].Name : </h3>

<ul>
    @foreach (Order order in @Model["orders"])
    {
        <li><a href='/vendors/@Model["vendors"].Id/orders/@order.Id'>@order.Name</a></li>
    }
</ul>

<p><a href='/vendors/@Model["vendor"].Id/orders/new'>Add a new order</a></p>