@{
    Layout = "_Layout";
}

<h1>Order Details:</h1>

<H2>@Model["orders"].Name</h2>
<h3>Description: @Model["orders"].Description</h3>
<h3>Price: @Model["orders"].Price</h3>
<h3>Date: @Model["orders"].Date</h3>

<a href='/vendors/@Model["vendor"].Id/orders/new'>Add another new order</a>