@{
    Layout = "_Layout";
}

<h1>Order Details:</h1>

<H2>@Model["order"].Name</h2>
<h3>Description: @Model["order"].Description</h3>
<h3>Price: @Model["order"].Price</h3>
<h3>Date: @Model["order"].Date</h3>

<a href='/vendor/@Model["vendor"].Id/order/new'>Add another new order</a>