@{
    Layout = "_Layout";
}

<h1>Add a vendor!</h1>
<p>Enter vendor below:</p>

<form action="/vendors" method="post">
    <label for="vendorName">Vendor Name</label>
    <input id="vendorName" name="vendorName" type="text">
    <button type="submit">Add vendor!</button>
</form>