<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Baker Vendor List</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="~/css/styles.css">
  </head>
  <body>
    <header>
    <p><a href='/'> Back to main page</a></p>
    <p><a href="/vendors">Back to Vendors</a></p>
    </header>
    @RenderBody()
  </body>
</html>