@{
    Layout = "_Layout";
}

<h1>Add a new order to @Model.Name</h1>

<form aciton="/vendors/@Model.Id/orders" method="post">
    <input id="vendorId" name="vendorId" type="hidden" value="@Model.Id">
    <label for="name">Order name</label>
    <input id="name" name="name" type="text">
    <label for="description">Order description</label>
    <input id="description" name="description" type="text">
    <label for="price">Order price</label>
    <input id="price" name="price" type="int">
    <label for="date">Order date (ddmmyy)</label>
    <input id="date" name="date" type="text">
    <button type="submit">Add order!</button>
</form>